{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block style %}
    {# Styles must be inlines #}
    <style>
        * {
            font-size: 16px;
        }

        .name {
            font-weight: bold;
        }

        .password {
            font-weight: bold;
            font-size: 22px;
            color: #007bff;
        }

        a.btn-link {
            color: #fff;
        }

        .btn-link {
            display: block;
            width: fit-content;
            padding: 0.4em;
            margin: 1em 0;
            border-radius: 5px;
            background-color: #007bff;
            text-decoration: none;
        }

        .btn-link:hover {
            background-color: #0066ff;
            color: #fff;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <p>Вітаю,
            {% if firt_name or last_name %}
               <span class="name">{{ first_name }} {{ last_name }}</span>!
            {% endif %}
        </p>
        <p>Пароль вашого аккаунту успішно змінено.</p>
        {% if password %}
            <span>Ваш новий пароль: </span>
            <span class="password">{{password}}</span>
        {% endif %}
        <a type="button" class="btn-link" style="color: #fff" href="{{ login_link }}">Увійти до аккаунту</a>
        <p>З повагою, Адміністрація</p>
    </div>
{% endblock %}