{% extends "base.html" %}
{% load static %}
{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <form method="POST" class="d-flex w-25 flex-column bg-dark p-3 m-2" id="form">
            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-warning" role="alert">
                        У вас нет доступа к данной странице.
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Войдите в аккаунт для доступа к данной странице
                    </div>
                {% endif %}
            {% endif %}
            {% csrf_token %}
            <h2 class="display-5 text-center text-light ">Вхід до акаунту</h2>
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Ваши логин и пароль не совпадают. Попробуйте ещё раз.
                </div>
            {% endif %}
            {% for field in form %}
                {% if not field.is_hidden %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}" class="text-light">{{ field.label_tag }} </label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}

            <a href="#" class="text-link" id="ajax-reset-password">Забыли пароль?</a>
            <a href="{% url "moderators:signup" %}" class="text-link" id="signup">Нет акаунта?</a>
            <button type="submit" class="btn btn-light w-50 mt-3">Ввойти</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/moderators/ajax.js' %}"></script>
{% endblock scripts %}
