POSTGRES_DB=shop_bot_creator_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_AUTH_METHOD=trust


DEBUG=1
SECRET_KEY=gq1fwfqc!d^rgr*gvu*el1zdn*ei&rbru(j1+2us@lf6n$h)0%

SITE_URL=https://85bfbb928ebc.ngrok.io
SITE_HOST=0.0.0.0
SITE_PORT=8000

EMAIL_HOST_USER=laba.intern.bot@gmail.com
EMAIL_HOST_PASSWORD=psw!qaz2wsx

CELERY_BROKER_URL=redis://localhost:6379

# TODO: fix in production
ALLOWED_HOSTS=*