# coverage==5.3
appdirs==1.4.4
astroid==2.4.2
attrs==19.3.0
black==19.10b0
celery==5.0.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
decorator==4.4.2
Django==3.1.1
env-file==2020.7.1
flake8==3.8.3
idna==2.9
imageio==2.9.0
imageio-ffmpeg==0.4.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
moviepy==1.0.3
numpy==1.19.1
pathspec==0.8.0
Pillow==7.2.0
proglog==0.1.9
psycopg2==2.8.5
ptvsd==4.3.2
public==2019.4.13
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.3
pyTelegramBotAPI==3.7.2
pytz==2020.1
redis==3.5.3
regex==2020.6.8
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tqdm==4.48.0
typed-ast==1.4.1
urllib3==1.25.9
values==2019.4.13
wrapt==1.12.1
gunicorn==20.0.4

XlsxWriter~=1.3.6