{% extends "base.html" %}
{% block title%} Видалення події {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
       class="text-dark text-decoration-none">
        Канали
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' object.keyboard_to_represent.channel.slug %}"
       class="text-dark text-decoration-none">
        {{ object.keyboard_to_represent.channel.name }}
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:keyboard-list' object.keyboard_to_represent.channel.slug %}"
       class="text-dark text-decoration-none">
        Клавіатури
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:action-list' object.keyboard_to_represent.channel.slug %}"
       class="text-dark text-decoration-none">
        Події
    </a><span class="text-muted">/</span>
    <a href="{{ object.get_absolute_url }}"
       class="text-dark text-decoration-none">
        Подія {{ object.name }}
    </a>
    <span class="text-muted">/ Видалення</span>
{% endblock %}

{% block content %}
   <form method="post">{% csrf_token %}
        <p>Ви дійсно бажаєте видалити подію "{{ object.name }}"?</p>
        <input type="submit" class="btn btn-danger" value="Підтверджую">
        <a href="{% url 'bots-management:keyboards:action-list' object.keyboard_to_represent.channel.slug %}" class="btn btn-info">
            Скасувати
        </a>
    </form>
{% endblock %}