{% extends "base.html" %}

{% block title %} Список клавіатур {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
           class="mt-3 mb-3 text-dark text-decoration-none">
            Канали
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' channel.slug %}"
           class="mt-3 mb-3 text-dark text-decoration-none">
            {{ channel.name }}
    </a><span class="text-muted">/ Клавіатури</span>
{% endblock %}

{% block content %}
        <div>
            <a href="{% url 'bots-management:keyboards:keyboard-create' channel.slug %}"
               class="btn btn-success btn-lg active mt-3 mb-3">
               Додати клавіатуру
            </a>
            <a href="{% url 'bots-management:keyboards:action-list' channel.slug %}"
               class="btn btn-info btn-lg active mt-3 mb-3">
               Список подій
            </a>
        </div>
    {% for keyboard in keyboards %}
        <div class="card mt-3">
            <div class="card-header">
                <h3>Клавіатура {{ keyboard.name }}</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Про клавіатуру: {{ keyboard.description }}</p>
                <a href="{{keyboard.get_absolute_url}}" class="btn btn-primary">Детальніше</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}