{% extends "base.html" %}

{% block title %} Клавіатура {{ keyboard.name }} {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
       class="text-dark text-decoration-none">
        Канали
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' keyboard.channel.slug %}"
       class="text-dark text-decoration-none">
        {{ keyboard.channel.name }}
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:keyboard-list' keyboard.channel.slug %}"
       class="text-dark text-decoration-none">
        Клавіатури
    </a>

    {% if not form %}
        <span class="text-muted">/ {{ keyboard.name }}</span>
    {% else %}
        <span class="text-dark">/</span>
        <a class="text-dark text-decoration-none" href="{{ keyboard.get_absolute_url }}">
            {{ keyboard.name }}
        </a>
        <span class="text-muted">/ Редагування</span>

    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {# keyboard display Viber:#}
            <p class="card-text">Попердній вигляд клавіатури в Viber: {{ keyboard.description }}</p>
            <br>
                <div class="container " style="background-color: {{ keyboard.get_keyboard_params.BgColor }}">
                    <div class="row px-1 py-1">
                    {% for button in buttons %}
                                <a href="{{ button.get_update_url }}" class="btn text-dark col-{{ button.params_for_template.width }}
                                        text-{{ button.get_viber_params.TextHAlign }}
                                        border btn align-text-bottom border-secondary" style="background-color: {{ button.get_viber_params.BgColor }};
                                         height: {{ button.params_for_template.height }}px;
                                         font-size: {{ button.params_for_template.text_size }}px;
                                        ">
                                 <span style="vertical-align:{{ button.v_align_for_template}}px;"> &nbsp</span>
                                    {{ button.text|safe }}
                                </a>

                    {% endfor %}
                    </div>
                </div>
            {# end keyboard display #}
            {# keyboard display Telegram:#}
<!--            TODO add scroll and height button and finish it  -->
            <p class="card-text">Попердній вигляд клавіатури в Telegram: {{ keyboard.description }}</p>
            <br>

                <div class="container border">
                        {% for row in buttons_tg %}
                            <div class="row ">
                                {% for button in row %}
                                    <div class="col-sm-{% if row|length == 1 %}12
                                                        {% elif row|length == 2 %}6
                                                        {% elif row|length == 3 %}4
                                                        {% elif row|length == 4 %}3
                                                            {% else %}2{% endif %}">
                                        <a href="{{ button.get_update_url }}"
                                           class="mx-1 my-1 px-3 btn btn-secondary btn large btn-block">
                                                    {{ button.text }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                </div>
            {# end keyboard display #}

            {% if not form %}
            <a href="{{ keyboard.get_update_url }}" class="btn btn-success mt-3">Редагувати клавіатуру</a>
            <a href="{{ keyboard.get_delete_url }}" class="btn btn-danger mt-3">Видалити клавіатуру</a>
            {% endif %}
        </div>

    {% if button_form %}
        <div class="col-md-6 col-sm-12">
            <h3>Налаштування кнопки</h3>

            <form method="POST" action="{{ keyboard.get_create_button_url }}" class="mb-3">
               <table class="table">
                <tbody>
                {% csrf_token %}

                {% for field in button_form %}
                    {% if not field.is_hidden %}
                    <tr>
                        <th width="25%">
                            <label for="{{ field.auto_id }}">{{ field.label_tag}}</label>
                        </th>
                        <td>
                        {{ field }}
                            {% if field.errors %}
                                <div class="text-danger"> {{ field.errors }} </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
                <input type="submit" class="btn btn-success" value="Зберегти">
                </form>

            </div>
        </div>

    {% endif %}
 </div>
    {% if form %}
        <div class="col-md-6 col-sm-12">
            <h3>Налаштування клавіатури</h3>

            <form method="POST">{% csrf_token %}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger"> {{ field.errors }} </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                <input type="submit" class="btn btn-success" value="Зберегти">
                <a class="btn btn-danger" href="{{ keyboard.get_absolute_url }}">Скасувати</a>
            </form>
        </div>
    {% endif %}

</div>


{% endblock %}