.footer {
    background-color: #0a3369;
    /* border-bottom: 2px solid #3160B6; */
    border-top: 2px solid #06254f;
    /* background: #276ecc; */
    /* box-shadow: 0 6px 10px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22); */
    /* background: #4a89dc; */
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);

    color: #ffffff;
    font-weight: 500;
    padding: 5px 15px;
    font-size: 24px;
}

/*
.header {
    border-bottom: 2px solid #06254f;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22);
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.header__title {
    color: #ffffff;
    font-weight: 500;
    padding: 5px 15px;
    font-size: 24px;
}
*/