.header {
    background-color: #0a3369;
    border-bottom: 2px solid #06254f;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22);
    text-shadow: 1px 1px 0 rgba(39, 110, 204, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 45px;
}

.header__title {
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
}

.header__profile {
    color: #ffffff;
    font-size: 24px;
}