html,
body,
ul,
h1, 
h2, 
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

label {
	margin: 0;
}

input,
button,
textarea {
	outline: none;
	border: none;
}

input:focus, 
button:focus {
    outline: 0;
}