.view-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}

.view-block__control-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-block__page {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    width: 220px;
    height: 35px;
    color: #636363;
    border: 1px solid #ababab;
    padding: 5px;
    width: 50%;
    transition: all 0.5s ease;
}

.view-block__page:hover {
    border: 1px solid #357bd8;
    color: #357bd8;
}

.view-block__main-panel {
    position: relative;
    width: 100%;
    height: 220px;
    margin: 15px 0;
    background: #fafafa;
    border: 1px solid #ababab;
}

.view-block__view-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0vw;
    width: 100%;
    height: 100%;
}

.view-block__view-grid > div {
    border: 1px dashed #e7e7e7;
}

.view-block__view-buttons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.button-add,
.button-delete {
    width: 48%;
    display: inline-block;
}