{% extends "base.html" %}

{% block title %} Создать рыссылку для канала {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
       class="text-dark text-decoration-none">
        Каналы
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' form.channel.value.slug  %}"
       class="text-dark text-decoration-none">
        {{ form.channel.value }}
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:mailings:mailing-list' form.channel.value.slug  %}"
       class="text-dark text-decoration-none">
        Рассылки
    </a><span class="text-muted">/Создание</span>

{% endblock %}

{% block content %}
    <h1 class="font-weight-normal">Создать рассылку для канала
        <span class="font-weight-bold">
            {{ channel_name }}
        </span>
    </h1>
    <form method="POST" enctype="multipart/form-data" class="mb-3">{% csrf_token %}
        {% for field in form %}
            {% if not field.is_hidden %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <div class="text-info" style="font-size: 14px"> {{ field.help_text }} </div>
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger"> {{ field.errors }} </div>
                    {% endif %}
                </div>

            {% endif %}
        {% endfor %}
        <div class="mt-3 mb-3">
            <a href="{% url 'bots-management:keyboards:action-create' channel.slug %}" class="btn btn-info">Добавить</a>
        </div>
        <input type="submit" class="btn btn-success" value="Створити">
        <a href="{% url "bots-management:mailings:mailing-list" channel.slug %}" class="btn btn-danger">Отменить</a>
    </form>
{% endblock %}

{% block scripts %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.js"></script>
    <script>
        $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
        });
    </script>
{% endblock scripts %}