{% extends "base.html" %}

{% block title %} Список подій {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
       class="text-dark text-decoration-none">
        Канали
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' channel.slug %}"
       class="text-dark text-decoration-none">
        {{ channel.name }}
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:keyboard-list' channel.slug %}"
       class="text-dark text-decoration-none">
        Клавіатури
    </a>
    <span class="text-muted">/ Події</span>
{% endblock %}

{% block content %}
    <a href="{% url 'bots-management:keyboards:action-create' channel.slug %}"
       class="btn btn-success btn-lg active mt-3 mb-3">
       Додати подію
    </a>


    {% for action in actions %}
        <div class="card mb-3">
            <div class="card-header">
                <h3>Подія {{ action.name }}</h3>
            </div>
            <div class="card-body">
                <p class="card-text">Текст користувачу: {{ action.text }}</p>
                <a href="{{action.get_absolute_url}}" class="btn btn-primary">Детальніше</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}