{% extends "base.html" %}

{% block title %} Клавіатура {{ keyboard.name }} {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
       class="text-dark text-decoration-none">
        Канали
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' action.keyboard_to_represent.channel.slug %}"
       class="text-dark text-decoration-none">
        {{ action.keyboard_to_represent.channel.name }}
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:keyboard-list' action.keyboard_to_represent.channel.slug %}"
       class="text-dark text-decoration-none">
        Клавіатури
    </a>
    <span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:action-list' action.keyboard_to_represent.channel.slug %}"
       class="text-dark text-decoration-none">
        Події
    </a>
    <span class="text-muted">/ Подія {{ action.name }}</span>
{% endblock %}

{% block content %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <h3>Подія {{ action.name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text">Клавіатура, що відобразиться користувачу: {{ action.keyboard_to_represent.name }}</p>
            <p class="card-text">Подія: {{ action.action_type }}</p>
            <p class="card-text">Текст користувачу: {{ action.text }}</p>

            {% if action.picture %}
            <p class="card-text">Фото користувачу: {{ action.picture.url }}</p>
            {% endif %}

            {% if action.video %}
            <p class="card-text">Відео користувачу: {{ action.video.url }}</p>
            {% endif %}

            {% if action.file %}
            <p class="card-text">Файл користувачу: {{ action.file.url }}</p>
            {% endif %}

            {% if action.url %}
            <p class="card-text">URL користувачу: {{ action.url }}</p>
            {% endif %}

            {% if action.sticker_id %}
            <p class="card-text">Стікер користувачу: {{ action.sticker_id }}</p>
            {% endif %}

            {% if action.location_latitude and action.location_longitude %}
            <p class="card-text">Широта: {{ action.location_latitude }}</p>
            <p class="card-text">Довгота: {{ action.location_longitude }}</p>
            {% endif %}

            <p class="card-text">Опис: {{ action.description }}</p>
        </div>
    </div>

    <a href="{{ action.get_update_url }}" class="btn btn-success">Редагувати</a>
    <a href="{{ action.get_delete_url }}" class="btn btn-danger">Видалити</a>
{% endblock %}