{% extends "base.html" %}

{% block title %} Зміна кнопки {% endblock %}

{% block links %}
    <a href="{% url 'bots-management:channel-list' %}"
       class="text-dark text-decoration-none">
        Канали
    </a><span class="text-dark">/</span>
    <a href="{% url 'bots-management:channel-detail' keyboard.channel.slug %}"
       class="text-dark text-decoration-none">
        {{ keyboard.channel.name }}
    </a><span class="text-muted">/</span>
    <a href="{% url 'bots-management:keyboards:keyboard-list' keyboard.channel.slug %}"
       class="text-dark text-decoration-none">
        Клавіатури
    </a><span class="text-dark">/</span>
    <a class="text-dark text-decoration-none" href="{{ keyboard.get_absolute_url }}">
        {{ keyboard.name }}
    </a>
    <span class="text-muted">/ Кнопка {{ object.name }}</span>
{% endblock %}

{% block content %}
    <form method="POST" class="mb-5">{% csrf_token %}
        {% for field in form %}
            {% if not field.is_hidden %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger"> {{ field.errors }} </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-success" value="Приняти зміни">
        <a href="{{ button.get_delete_url }}" class="btn btn-danger">Видалити кнопку</a>
        <a href="{{ button.keyboard.get_absolute_url }}" class="btn btn-info">Скасувати</a>
    </form>
{% endblock %}