{% extends "base.html" %}
{% block title %} Список всех каналов {% endblock title %}

{% block links %}
    <span class="text-muted">Канали</span>
{% endblock %}

{% block content %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва каналу</th>
            <th scope="col">Посилання</th>
            <th scope="col">Viber-token</th>
            <th scope="col">Telegram-token</th>
        </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <th scope="row"> {{ forloop.counter }}</th>
                <td><a href="{{ channel.get_absolute_url }}">{{ channel.name }}</a></td>
                <td>{{ channel.slug }}</td>
                <td> {{ channel.viber_token|truncatechars:18 }}</td>
                <td> {{ channel.telegram_token|truncatechars:18 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'bots-management:channel-create' %}" class="btn btn-dark">Додати канал</a>

{% endblock content %}
